<!DOCTYPE html>
<html>

<head>
    <title>Web application</title>
</head>

<body>

<h2>Enjoy Zero To Hero</h2>

<form id="form1" name="hello" action="../zerotohero" method="post">
    <label for="FirstName">First Name:</label>
    <input type="text" id="FirstName" name="FirstName"/>
    <label for="LastName">Last Name:</label>
    <input type="text" id="LastName" name="LastName"/>
    <button type="submit">Submit</button>
</form>



<script type="application/javascript" src="../js/util.js"></script>
</body>
</html>
